

html {
    background-color: hsl(80, 20%, 97%);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Helvetica', sans-serif;
    color: rgb(0, 0, 0);
}
h1 {
    font-size: 13mm;
    text-align:center;
    
}
h2 {
    font-size: 6mm;
    width: 100px; 
    height: 20px;
    padding-left: 30px;
}




 #card-title {
    font-size: 25px;
    padding-left: 80px;
   
    
}

#like-count {

    font-size: 17px;
    padding-left: 87px;
   
}



#card-image {
    width: 250px;
    height: 250px;
    padding-left: 80px;
    
}


.fruit-title {
    font-size: 25px;
    
   
}




#edit-form {
    display: none;
}








#common-name {
    font-size: 17px;
   
}


#order {
    font-size: 17px;
    
}

#family {
    font-size: 17px;
  
}

#genus {
    font-size: 17px;
    
}

#carbohydrates {
    font-size: 17px;
    
}

#protein {
    font-size: 17px;
  
}

#fat {
    font-size: 17px;
    
}

#calories{
    font-size: 17px;
   
}


#sugar {
    font-size: 17px;
  
}











h3 {
    width: 100px;
}
header {
    margin-top: 5em;
}
.container {
    display: flex;
}
.game-details {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    gap: 40px;
}
.game-details img {
    width:auto;
    height:350px;
}
nav {
    width: 25%;
}
nav h5:hover {
    color: #AB7E02;
}
input[type=text] {
    display:inline-block;
    border: 0;
    width:100%;
    color: black;
    background: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    font-family: ' Start 2P', cursive;
}
form {
    width:200px;
}
input[type=submit] {
    display:inline-block;
    border: 0;
    width:100%;
    color: black;
    background: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    font-family: ' Start 2P', cursive;
}

form {
    margin: 1rem 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* the below is copied from ramen rater */
  input,
  textarea {
    font-size: 1rem;
    border: 1px solid black;
    background-color: white;
    padding: 0.5rem;
    margin: 0.25rem 0;
    width: 100%;
  }
  
  input[type="submit"] {
    color: white;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  input[type="submit"]:active {
    background-color: gray;
  }
  
  form h4 {
    width: 100%;
    padding: 0.25rem;
    margin: 0.5rem 0;
    color: white;
    background-color: black;
  }

  button, [type=“submit”] {
    cursor: pointer;
    font-family: math;
  }