

html {
    background-color: hsl(320, 23%, 97%);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Helvetica', sans-serif;
    color: rgb(0, 0, 0);
}
h1 {
    font-size: 13mm;
    text-align:center;
    
}
h2 {
    width: 100px; 
    height: 15px;
    padding-left: 30px;
}

 #card-title {
    font-size: 25px;
    padding-left: 80px;
   
    
}

#like-count {

    font-size: 17px;
    padding-left: 87px;
   
}



#card-image {
    width: 250px;
    height: 250px;
    padding-left: 80px;
    
}


.fruit-title {
    font-size: 25px;
    padding-left: 87px;;
}


#common-name {
    font-size: 17px;
    padding-left: 87px;
}


#order {
    font-size: 17px;
    padding-left: 87px;
}

#family {
    font-size: 17px;
    padding-left: 87px;
}

#genus {
    font-size: 17px;
    padding-left: 87px;
}

#carbohydrates {
    font-size: 17px;
    padding-left: 87px;
}

#protein {
    font-size: 17px;
    padding-left: 87px;
}

#fat {
    font-size: 17px;
    padding-left: 87px;
}

#calories{
    font-size: 17px;
    padding-left: 87px;
}


#sugar {
    font-size: 17px;
    padding-left: 87px;
}











h3 {
    width: 100px;
}
header {
    margin-top: 5em;
}
.container {
    display: flex;
}
.game-details {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    gap: 40px;
}
.game-details img {
    width:auto;
    height:350px;
}
nav {
    width: 25%;
}
nav h5:hover {
    color: #AB7E02;
}
input[type=text] {
    display:inline-block;
    border: 0;
    width:100%;
    color: black;
    background: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    font-family: ' Start 2P', cursive;
}
form {
    width:200px;
}
input[type=submit] {
    display:inline-block;
    border: 0;
    width:100%;
    color: black;
    background: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    font-family: ' Start 2P', cursive;
}